name: Automatisation des tests
on: push
jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Compilation
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          make test
  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
        - name: Test fonction add
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator add 10 5
  Test_Div:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
        - name: Test fonction div
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator div 10 5
  Test_Sub:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
        - name: Test fonction sub
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator sub 10 5
  Test_Mul:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
        - name: Test fonction mul
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator mul 10 5
  Deploiement:
    runs-on: ubuntu-latest
    needs:
      - Test_Add
      - Test_Div
      - Test_Sub
      - Test_Mul
    steps:
      - name: Étape de déploiement
        run: |
          echo "Déploiement en cours..."
  Test_Square:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

      - name: Run test "square" and capture report
        run: |
          cd build
          set -e
          echo "== Test square 2 ==" > report.txt
          ./src/calculator square 2 | tee -a report.txt
          echo "Exit code: $?" >> report.txt

      - name: Upload report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-square-report
          path: build/report.txt
          retention-days: 14

      - name: Job summary
        run: |
          echo "### Résultat du test *square*" >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo 'Rapport disponible dans les artifacts.' >> $GITHUB_STEP_SUMMARY
